{extends}base.html{extends}
{header}
{header}
{content}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                <!-- <span>文件类型:</span>  -->
                <div style="display:inline-block;margin-right: 20px;">
                    <select id="search-type" class="form-control">
                        <option value="">全部</option>
                        <?php foreach ((empty($proType) ? array() : $proType) as $v) { ?>
                        <option value="<?php echo $v; ?>"><?php echo $v; ?></option>
                        <?php } ?>
                    </select>
                </div>
                <!-- <span>自定义类型:</span>  -->
                <div style="display:inline-block">
                    <select id="search-folder" class="form-control">
                        <option value="">全部</option>
                        <?php foreach ((empty($folderList) ? array() : $folderList) as $v) { ?>
                        <option value="<?php echo $v['id']; ?>"><?php echo $v['name']; ?></option>
                        <?php } ?>
                    </select>
                </div>
                <button id="create-pro" type="button" class="btn btn-primary btn-sm float-right" title="添加项目">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <a href="index.php?c=folder&a=index">
                    <button id="manage-folder" type="button" class="btn btn-default btn-sm float-right" title="管理自定义">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                
                <?php 
                if (empty($proList)) {
                    echo '<div style="text-align:center;color:#999999;margin-top:50px;"><span>';
                    echo '点击<b>添加项目</b>按钮，开启你的实验之旅^^';
                    echo '</span></div>';
                } else {
                ?>
                <div class="panel panel-default">
                <!-- <div class="panel-heading">项目列表</div> -->
                    <ul class="list-group">
                        <?php foreach ((empty($proList) ? array() : $proList) as $k => $v) { ?>
                        <li class="list-group-item data-title">
                            <a href="index.php?a=main&pro_id=<?php echo $v['id']; ?>"><?php echo $v['name'] ?>
                                <span class="data-time"><?php echo $this->user['screen_name']; ?> 更新于 <?php echo substr($v['update_time'], 5); ?></span>
                                <span class="data-desc"><?php echo mb_substr($v['description'], 0, 500); ?></span>
                            </a>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
                <!-- pager-->
                <div>
                    <nav class="data-pager">
                        <ul class="pagination">
                            <?php 
                                if ($pagerInfo['pagerNo'] === 1) {
                                    echo '<li class="disabled"><a href="javascript:void(0)"><span>«</span></a></li>';
                                } else {
                                    echo '<li><a href="index.php?a=project&pager=1"><span>«</span></a></li>';
                                }
                            ?>

                            <?php
                                if ($pagerInfo['prePage'] === 0) {
                                    echo '<li class="disabled"><a href="javascript:void(0)"><span>‹</span></a></li>';
                                } else {
                                    echo '<li><a href="index.php?a=project&pager=' . $pagerInfo['prePage'] . '"><span>‹</span></a></li>';
                                }
                            ?>
                            <?php
                                foreach ((empty($pagerInfo['pagerList']) ? array() : $pagerInfo['pagerList']) as $v) {
                                    $classStr = '';
                                    if ($pagerInfo['pagerNo'] === $v) {
                                        $classStr = 'class="active"';
                                    }
                                    echo '<li ' . $classStr . '><a href="index.php?a=project&pager=' . $v . '">'. $v .'</a></li>';
                                }
                            ?>
                            <?php
                                if ($pagerInfo['nextPage'] === 0) {
                                    echo '<li class="disabled"><a href="javascript:void(0)"><span>›</span></a></li>';
                                } else {
                                    echo '<li><a href="index.php?a=project&pager=' . $pagerInfo['nextPage'] . '"><span>›</span></a></li>';
                                }
                            ?>
                            <?php
                                if ($pagerInfo['pagerNo'] === $pagerInfo['totalPages']) {
                                    echo '<li class="disabled"><a href="javascript:void(0)"><span aria-hidden="true">»</span></a></li>';
                                } else {
                                    echo '<li><a href="index.php?a=project&pager=' . $pagerInfo['totalPages'] . '"><span aria-hidden="true">»</span></a></li>';
                                }
                            ?>
                        </ul>
                    </nav>
                </div>
                <?php } ?>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
            </div>
        </div>
    </div>
    <!-- 项目创建模态框开始 -->
    <div id="modal-create-pro" class="modal fade" data-backdrop="static" data-keyboard="false" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">创建项目</h4>
                </div>
                <div class="modal-body">
                    <form id="form-project" action="index.php?a=project" method="post">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="red">*</span>项目名称</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="name" placeholder="请填写项目名称" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">项目类型</label>
                                <div class="col-sm-4">
                                    <select name="type" class="form-control">
                                        <?php foreach ((empty($proType) ? array() : $proType) as $v) { ?>
                                        <option value="<?php echo $v; ?>"><?php echo $v; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">自定义类型</label>
                                <div class="col-sm-4">
                                    <select name="folder" class="form-control">
                                        <?php foreach ((empty($folderList) ? array() : $folderList) as $v) { ?>
                                        <option value="<?php echo $v['id']; ?>"><?php echo $v['name']; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">项目描述</label>
                                <div class="col-sm-7">
                                    <textarea name="desc" class="form-control" style="height: 200px;"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="subFlag" value="1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="modal-btn-cancel" type="button" class="btn btn-default">取消</button>
                    <button id="modal-btn-submit" type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 项目创建模态框结束 -->
{content}

{footer}
    <script>
        requirejs(['baseExc'], function (baseExc) {
            function refreshProList() {
                var type = $('#search-type').val();
                var folder = $('#search-folder').val();
                var paramStr = '';
                if (type !== '') {
                    paramStr += '&type=' + type;
                }
                if (folder != '') {
                    paramStr += '&folder=' + folder;
                }
                window.location.href = 'index.php?a=project' + paramStr;
            }
            $('#search-type').change(function () {
                refreshProList();
            }).val(<?php echo empty($_GET['type']) ? '' : "'{$_GET['type']}'"; ?>);
            $('#search-folder').change(function () {
                refreshProList();
            }).val(<?php echo empty($_GET['folder']) ? '' : "'{$_GET['folder']}'"; ?>);
        });
    </script>
{footer}

