
.cm-invalidchar1 {
    color: #DDDDDD;
}
.transparent_class {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.mylayer {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    width: 98%;
    height: 100%;
    background: #EEEEEE;
    z-index: 100;
    display: none;
    text-align: center;
}
.mylayer span {
    display: block;
    margin-top: 100px;
    font-size: .8em;
}

#modal-zoom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1031;
}

.bar-height {
    height: 40px;
}

.dir-icon {
    color: #FFCC99;
}
.file-icon {
    color: #428bca;
}

.input-tab {
    width:100px;
    margin:5px;
}
#div-main {
    padding-left: 20px;
    padding-right: 20px;
}
#div-run {
    font-family: 'monospace';
}
#div-run iframe {
    width: 100%;
    height: 300px;
}
